@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 139, 69, 19;
    --background-end-rgb: 139, 69, 19;
  }
}

span {
  display: inline-block; /* Ensure span takes only the necessary width */
  margin-right: 10px; /* Add some space to the right of the span */
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Remove bottom margin */
}

p {
  text-align: center;
}

textarea {
  margin-top: 10px; /* Add margin to the top */
  margin-bottom: 20px; /* Add margin to the bottom */
  padding: 10px; /* Add padding inside the textarea */
  border-radius: 8px; /* Rounded corners */
  border: 1px solid #ccc; /* Border color */
  width: 37%; /* Full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
  color: black; /* Text color set to black */
  background-color: #f8f8f8; /* Off-white color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-view-one {
    background-color: #414253; /* Change to your desired color */
}

.bg-view-two {
    background-color: #f3f4f8; /* Change to your desired color */
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Change to flex-start to position items at the top */
  min-height: 100vh;
  padding: 24px;
}

.header {
  width: 100%;
  max-width: 5xl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Mono', monospace;
  font-size: 0.875rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  display: flex;
}

.nav-link {
  padding: 0 1rem;
}

.image-container {
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
}

.dashboard-logo {
  position: relative;
}

.sections {
  margin-bottom: 32px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
}

.section {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: background-color 0.3s, border-color 0.3s;
}

.section:hover {
  border-color: #414253;
  background-color: #f7fafc; /* Light gray */
}

.section-title {
  margin-bottom: 0.75rem;
  font-size: 2rem;
  font-weight: 600;
}

.section-description {
  margin: 0;
  max-width: 30ch;
  font-size: 0.875rem;
  opacity: 0.5;
}

.upload-bar {
  border: 2px dashed #ccc; /* Dashed border */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  text-align: center; /* Center the content */
  background-color: white; /* Background color */
  transition: border-color 0.3s; /* Smooth transition for border color */
  margin-top: 20px; /* Add margin to the top */
  margin-bottom: 20px; /* Add margin to the bottom */
}

.upload-bar:hover {
  border-color: #888; /* Change border color on hover */
}

.upload-bar input {
  position: absolute; /* Position the input absolutely */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Cover the full width */
  height: 100%; /* Cover the full height */
  cursor: pointer; /* Change cursor to pointer */
}

.upload-bar button {
  padding: 10px 20px; /* Padding for button */
  background-color: #bfbbc0; /* Button color */
  border: none; /* Remove border */
  border-radius: 0.25rem; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s; /* Smooth transition */
}

.upload-bar button:hover {
  background-color: #82329d !important; /* Force the hover color */
}


.view-one {
  height: 100%; /* Set height to 100% */
  margin: auto; /* Center the component */
  background-color: #414253; /* Change background color to green */
  color: #f3f4f8; 
  transition: width 0.3s; /* Smooth transition for width */
  width: 10%; /* Default width */
}

.view-one.toggled {
  width: 100%; /* Width when toggled */
}

.view-two {
  width: 10%;
  height: 100%; /* Set height to 100% */
  background-color: #f3f4f8; /* Background for ViewTwo (blue-500) */
  transition: width 0.3s; /* Smooth transition for width */
}

.view-two.toggled {
  width: 100%; /* Width when ViewTwo is active */
}

.view-toggle {
  height: 100%;
  width: 10%; /* Adjusted to match the original w-1/20 */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; /* Smooth transition */
}

.toggle-button {
  height: 100%;
  width: 5%; /* Set button width to 5% */
  cursor: pointer; /* Change cursor to pointer */
  background-color: transparent; /* Use transparent to inherit background color from parent */
}

.image-preview {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-top: 10px; /* Optional: Add some space above the preview */
}

.upload-label {
    position: relative; /* Ensure the label is positioned relative */
    display: inline-block; /* Ensure it only takes the necessary width */
}

.dropdown-container {
    background-color: #ffffff; /* White background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 10px; /* Padding around the dropdown */
    margin-bottom: 16px; /* Space between dropdowns */
}

.dropdown {
    width: 100%; /* Full width */
    border: none; /* Remove default border */
    outline: none; /* Remove outline */
    padding: 10px; /* Padding inside the dropdown */
    border-radius: 4px; /* Slightly rounded corners */
    background-color: #f8f8f8; /* Light gray background */
    color: #414253; /* Text color */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.dropdown:hover {
    background-color: #eaeaea; /* Darker gray on hover */
}